html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    background-color: #922424;
    font-family: "Quicksand", sans-serif;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
}

.signin-button {
    position: absolute;
    top:0;
    right:0;
}

.smallText {
    font-size: 14px;
}

.mailaddress {
    color: yellow;
}

.upload {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 3em 0;
}

.box {
    background-color: #1f1f1f;
    padding: 6.25rem 1.25rem;
}

.header {
    padding: 2em 1em 3em;
    text-align: center;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label{
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    background-color: #d3394c;
}

.input-file + label:hover{
    background-color: #722040
}

.preview-image {
    padding: 6.25rem 1.25rem;
    max-width: 800px;
    height: auto;
}