html, body {
    background-color: #922424;
    color: #FFFFFF;
    font-family: "Quicksand", sans-serif;
    font-size: 1.25em;
    text-align: center
}

.header {
    padding: 2em 1em 3em;
    text-align: center;
}

.view-counter{
    position: absolute;
    top: 5;
    left: 5;
}

.view-value {
    font-weight: bold;
    color: yellow;
}

.hidden {
    display: none;
}

.home-link {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}